<ion-view view-title="Curiosidades" class="fondo">


  <ion-content>

      <h1  align="center">Bienvenido</h1>







    <ion-list>




  <ion-item>
    <p>  audio interno <p>
  <audio controls style="width: auto;">

       <source src="sounds/UEFA_Champions_League.mp3" type="audio/ogg">
       <source src="sounds/UEFA_Champions_League.mp3" type="audio/mpeg">

       Your browser does not support the audio tag.

</audio>
</ion-item>
<ion-item>
  <p>  audio 2 con link <p>
<audio controls style="width: auto;">

     <source src="https://ionic-audio.s3.amazonaws.com/Roxane.mp3" type="audio/ogg">
     <source src="https://ionic-audio.s3.amazonaws.com/Roxane.mp3" type="audio/mpeg">

     Your browser does not support the audio tag.

</audio>
</ion-item>


    </ion-list>


    <div class="card">
      <p>  Video con iframe <p>
                <ion-item>
                    <div class="video-container">
                      <iframe width="420" height="315" src="https://www.youtube.com/embed/_8gYTkB8rsg" frameborder="0" ></iframe>
                    </ion-item>
      </div>
</div>




<p>
Youtube video usando AMP
   <amp-youtube
   data-videoid="bNpZDJ_jP0A"
   layout="responsive"
   width="480" height="270"
       controls>
    </amp-youtube>
</p>

  </ion-content>
</ion-view>
